<div class="card m-3">
    <h3 class="card-header">Upstream Data</h3>
    <div class="card-body px-5 py-5" id="justify-text">
            <!-- The following attributes are needed to make images responsive: class="img-fluid"and alt="Responsive image -->
            <h5>River Flow</h5>
            <p >There are four different ways to add (log-normally distributed) river flow data.</p>
            <p>1. The first is to input the river flow mean and s.d. manually.</p>
            <p>2. Alternatively, you can add river flow data by using the application Qube. In Qube, export a .csv file where the format of the time and the units of flow are the same as in the image below.</p>
            <img src="\static\images\qube_example.jpg" class="m-2 img-fluid img-thumbnail rounded mx-auto d-block" alt="Responsive image" width="260" height="210">
            <p>3. You can also add river flow by selecting a river station from the NRFA dropdown. This will populate the flow field with data from the last ten years. If there is no data for that station in the last ten years, an alert will be shown and the flow field will not be populated.</p>  
            <img src="\static\images\nrfa_dropdown.jpg" class="m-2 img-fluid img-thumbnail rounded mx-auto d-block" alt="Responsive image" width="390" height="130">
            <p>4. Finally, you have the option of using the results of a previous calculation i.e. its downstream values of flow and pollutants, to become the upstream values of a new calculation.</p>
            <img src="\static\images\previous_calc_input_example.jpg" class="m-2 img-fluid img-thumbnail rounded mx-auto d-block" alt="Responsive image" width="450" height="170">
            <br>
            <h5>Pollutant Concentrations</h5>
            <p>As stated, when inputting the river flow mean and s.d., these must be in log-normal form. However, when inputting the BOD and NH<sub>3</sub> concentration mean and s.d., these must be of their normal distribution.</p>
        </div>
</div>