<div class="card m-3">
    <h3 class="card-header">Spill Data</h3>
    <div class="card-body px-5 py-5" id="justify-text">
            <p>CSO spill data is added to a calculation by uploading a .csv file. These .csv files must be formatted in one of two ways. Note that all columns with time in them must be formatted in the same way as pictured and that the units of flow must be m<sup>3</sup>/s too.</p>
            <p>The first format has one column for time and one or more columns for spill flow. This is shown in the image below. For this format, there can be any number of header rows and they can be called what you like.</p>        
            <img src="\static\images\cso_csv_example.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block" alt="Responsive image" width="260" height="210">
            <br>
            <p>The second acceptable format of spill data is pictured below. It has two columns for time and one or more columns for spill flow. The format of the time in the first column is the same as in the csv above. The format of the time in the second column is in seconds. As in the image, the second column title must be ‘Seconds’. Below that row with ‘Seconds’ in, there may be any number of header rows and they can be called what you like.</p>
            <img src="\static\images\cso_csv_example_2.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block" alt="Responsive image" width="375" height="225">
    </div>
</div>