<div class="card m-3">
    <h3 class="card-header">Standards</h3>
    <div class="card-body">
      <div class="container text-center">

        <form name="standards_form" action="/standards" method="post" enctype="multipart/form-data">
      
          <div class="row align-items-center">
            <div class="col-xl-6 d-flex justify-content-center">
              {% include 'includes/_river_1-2-4-6.html' %}
            </div>
            <div class="col-xl-6 d-flex justify-content-center">
              {% include 'includes/_river_3-5-7.html' %}
            </div>
          </div>
      
          <button class="btn btn-arup">Update Standards</button>
      
        </form>
      
    </div>
    </div>
</div>